body { background: #6b0699; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 29px; display: flex; }
.block-logger-0 { color: #850024; font-size: 21px; margin-bottom: 5px; }
.block-uploader-1 { color: #a1c114; font-size: 16px; margin-bottom: 5px; }
.block-search-2 { color: #f4366e; font-size: 16px; margin-bottom: 5px; }
.block-order-3 { color: #204a0e; font-size: 20px; margin-bottom: 5px; }
.block-router-4 { color: #c7b2e0; font-size: 17px; margin-bottom: 5px; }
.block-helper-5 { color: #362d30; font-size: 16px; margin-bottom: 5px; }
.block-uploader-6 { color: #610fa9; font-size: 18px; margin-bottom: 5px; }
.block-cart-7 { color: #fd9c3d; font-size: 13px; margin-bottom: 5px; }
.block-notify-8 { color: #bd9873; font-size: 15px; margin-bottom: 5px; }
.block-invoice-9 { color: #657108; font-size: 20px; margin-bottom: 5px; }